.product {
    width: 100%;
    max-width: 300px;
    border-radius: 0.8em;
    border: 1px solid rgba(191, 191, 191, 0.667);
    cursor: pointer;
    transition: transorm 100ms ease;
}
.product:hover {
    transform: scale(1.04);
}

.product__header {
    width: 100%;
    aspect-ratio: 1.3;
    padding: 1.5em;
    border-bottom: 1px solid rgba(191, 191, 191, 0.667);
    position: relative;
}
.product__img01 {
    opacity: 1;
}
.product__img02 {
    opacity: 0;   
}
.product__header:hover .product__img01 {
    opacity: 0;
}
.product__header:hover .product__img02 {
    opacity: 1;
}

.product__img {
    width: calc(100% - 2 * 1.5em);
    height: calc(100% - 2 * 1.5em);
    object-fit: contain;
    position: absolute;
    transition: opacity 500ms ease;
}
.product__body {
    padding: 1.5em 1.2em 2.5em;
    position: relative;
}
.product__brand {
    padding-left: 1em;
    font-weight: 300;
    color: #aaa;
    font-size: 0.9rem;
}
.product__name{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    height: 75px;
}
.product__price {
    display: flex;
    flex-direction: column;
}
.product__price__label {
    font-size: 0.8rem;
    font-weight: 400;
    color: #aaa;
    padding-left: 1.1em;
}
.product__price__value {
    font-size: 0.9rem;
}
.product__price__value::before {
    content: '$';
    margin-right: 0.3em;
}
.product__btn {
    position: absolute;
    right: 1.7em;
    bottom: 1.3em;
    width: 2em;
    aspect-ratio: 1.2;
    border-radius: 10%;
    font-size: 1.3rem;
    border: none;
    background-color: #D19B01;
    /**/
}
.product__btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4.7em;
    bottom: 1.3em;
    width: 2em;
    height: 2em;
    border-radius: 10%;
    font-size: 1.3rem;
    border: none;
    background-color: #D19B01;
}
.product__btn-2 i {
    color: white;
}
.bx {
    object-fit: contain;
}
.bx.bxs-cart {
    object-fit: contain;
}
.product__btn:hover {
    filter: brightness(1.1);
}

@media (max-width: 740px) {
    /*.product{
        width: 100%;
        max-width: 300px;
        border-radius: 0.8em;
        border: 1px solid rgba(191, 191, 191, 0.667);
        transition: transorm 100ms ease;
        transform: scale(1);
    }
    .product.visible {
        
        transform: scale(1.6);
      }*/
    .product__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
    }
    .bx {
        object-fit: contain;
    }
    .bx.bxs-cart {
        object-fit: contain;
    }
}

@media (max-width: 380px) {
    .product__body {
        padding: 1.5em 1.2em 2.5em;
        position: relative;
    }
    .product__brand {
        padding-left: 1em;
        font-weight: 300;
        color: #aaa;
        font-size: 0.9rem;
    }
    .product__name{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        height: 60px;
    }
}
