.header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d6d6d6;
    color: white;
    padding: 10px;
    z-index: 2;
  }

  .header__title {
    margin: 0;
    font-size: xx-large;
  }
  .header__title a {
    color: #032263 ;
  }
  .header__menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
  }

  .header__menu-li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .header__menu-li:hover {
    border-color: white;
  }

  .header__nav-query {
    display: none;
  } 


  /*Query -740*/

  @media (max-width: 740px) {
    .header__nav {
      display: none; /* Hide the regular menu */
    }
    .header__nav-query {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 6em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #E0DEFE;
        /*
        #E0DEFE barra
        d6d6d6 barra
        #ddddef
        #354E82 gris
        #032263 azul titulo
        */
        color: white;
        padding: 10px;
        z-index: 100;
    }
    .header__title {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 62%;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.1); /* Add subtle border */
        padding-right: 10px; /* Add spacing */
    }
    .header__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38%;
        height: 100%;
        
    }

  
    .header__cart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%; /* Adjust margin as needed */
        height: 100%;
        text-decoration-line: none;
        /*margin-right: 10px;*/
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        
    }
    .header__cart a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; 
    }
    .bx {
      height: 4rem;
      font-weight: 700;
      font-size: x-large;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0a1553;
    } 
    .bx bx-cart {
      display: flex;
      color: #0a1553;
    }
 
    .header__dropdown-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        background-color: transparent;
        border: none;
        color: #551A8B;
        font-size: 16px;
        cursor: pointer;
    }
    .header__dropdown-btn a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; 
    }
    .header__dropdown-btn:hover + .dropdown-content,
    .dropdown-content:hover {
         display: block;
    }
      .dropdown-content {
        display: none;
        position: absolute;        
        background-color: #f9f9f9;
        min-width: 160px;
        
        z-index: 1;
        border: 1px solid #ccc;
        border-radius: 4px; /* Rounded corners */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); /* Box shadow */
        top: calc(100% - 15px); 
        right: 0;
      }
  
      .menu-li-dropdown button, 
      .menu-li-dropdown a {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        background-color: #032263;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        gap: 1em;
      }
      
      .menu-li-dropdown button:hover, 
      .menu-li-dropdown a:hover {
        background-color: #0056b3;
      }
      
      .menu-li-dropdown purchases {
        font-size: 1.1rem;
      }
      .profile__user-container {
        height: 100%;
        background-color: #FFC541;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
     
    
}

/*-----Media query 440-----*/

@media (max-width: 440px) {

  .header__title {
    font-size: x-large;
  }
  .header__nav-query {
    height: 4.5em;
  }
}

@media (max-width: 324px) {

  .header__title {
    font-size: 1.4rem;
  }
}