
.formpage__modal {
    background-color: rgba(0, 0, 0, 0.371);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8em;
    position: relative;
}

/*close buton*/
.close-formpage-btn {
    position: absolute;
    top: 5em;  /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    border: rgb(196, 228, 248) solid;
    border-radius: 50%;
}

.close-formpage-btn button {
    background-color: rgb(196, 228, 248);
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
.close-formpage-btn button i {
    color: #001797; /* Adjust as needed */
    font-size: 24px;
}
.formpage__form {
    background-color: rgb(177, 224, 253);
    width: 87%;
    height:auto;
    margin-top: 0.5em;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.formpage__form label {
    display: flex; /* Align label and input horizontally */
    align-items: center; /* Vertically center label and input */
    position: relative;
    margin-bottom: 1em;
}

.formpage__form label span {
    flex: 0 0 30%; /* Adjust width of label */
}

.formpage__form input {
    flex: 1; /* Take remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.span__error{
    position: absolute;
    bottom: -20px; /* Adjust this value to position the error message */
    left: 35%;
    color: red;
    font-size: 12px;
}
.formregister__btn {
    background-image: linear-gradient(to right, #5f9fff, #5fd4ff);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formregister__btn:hover {
    background-image: linear-gradient(to right, #5fd4ff, #5f9fff);
}

.formregister__btn-span{
    display: flex;
    justify-content: center;
}

.formregister__btn-login {
    background-image: linear-gradient(to right, #5f9fff, #5fd4ff);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.formregister__btn-login:hover {
    background-image: linear-gradient(to right, #5fd4ff, #5f9fff);
}