.home__page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 7em;
}
.div__input-home {
    width: 100%;
    height: 3em;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-home {
    background-color: white;
    height: 2em;
    width: 25%;
} 
.home-search {
    width: 2em;
    height: 1.5em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black solid;
}
.home-search i.bx {
    font-size: x-large;
    text-decoration: none;
}
.home__filter {
    margin-top: 1em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    width:12em;
}
.home__hr {
    border: rgba(117, 115, 115, 0.489) solid 1px; 
}
.home__filtercategory {
    margin-top: 1em;
}
.home__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}
.home__container {
    background-color: #FFFFFF;
    padding-top: 1.5em;
    margin-top: 0; 
    width: 80%;
}

.product-container {
    
    display: flex;
    justify-content: center;
    gap: 1.5em 2em;
    flex-wrap: wrap;
    background-color: none;
}

/*------Media query 740   --------*/

@media (max-width: 740px) {

    
    .home__container{
        padding-top: 1.1em;
        margin-top: 3.5em;
        display: flex;
        justify-content: center;
        gap: 1.5em 2em;
        flex-wrap: wrap; 
    }
    .div__input-home {
        width: 100%;
        height: 3em;
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input-home {
        background-color: white;
        height: 2em;
        width: 60%;
    } 
    .home-search {
        width: 2em;
        height: 1.5em;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: black solid;
        border-width: 1px;
    }
    .div__input-home span {
        border-color: black solid;
    }
    .home__section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .home__filter {
        display: none;
    }
    .product-container {
        max-width: 16em;
        min-width: 15.8em;
        display: flex;
        justify-content: center;
        
        flex-wrap: wrap;
    }
    
}

@media (max-width: 380px) {
    .product-container {
       
        
    }
}